__pycache__/
*/__pycache__/
*.pyc
*.log

ckpt_t1/
models/
ablation_A_baseline/
ablation_B_rawboost/
ablation_C_lora/
ablation_D_lora_rawboost/

*.pt
*.pth
*.ckpt
*.bin
*.zip
*.wav
*.flac

.vscode/
.idea/
.env
